.App {
}

.App-logo {
  animation: App-logo-spin infinite 60s linear;
  height: 80px;
}

.App-header {
  background-color: #829C8C;
  color: white;
  height: 150px;
  padding: 20px;
  text-align: center;
}

.App-title {
  font-size: 2.5em;
  font-weight: normal;
}

.App-intro {
  font-size: large;
  margin: 0 auto;
  max-width: 400px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
